#Ignore the alignments directory
#If using this tool, please use your own directory of downloaded IPD-IMGT/HLA alignment files
resources/alignments
utils/alignment_parsing.py
__pycache__/
utils/build_example_files.py
example_file2.txt
example_file3.txt